.helps_section{
    background-color: #fdf5f7;
    @media (max-width:767px) {
        padding-top: 180px;
        padding-bottom: 40px;
    }
    .helps_section-inner{
        width: 85%;
        max-width: 1280px;
        min-width: 970px;
        margin-left: auto;
        margin-right: auto;
        @media (max-width:991px) {
            max-width: 960px;
            min-width: 740px;
        }
        @media (max-width:767px) {
            max-width: 767px;
            min-width: 440px;
        }
        @media (max-width:479px) {
            max-width: 479px;
            min-width: 300px;
        }
        .helps_section_theme{
            max-width: 55ch;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            font-weight: 300;
            text-align: center;
            color: #0f172a;
        }
        .helps_section_list{
            .list{
                grid-column-gap: 16px;
                grid-row-gap: 16px;
                grid-template-rows: auto;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-columns: 1fr;
                display: grid;
                @media (max-width:767px) {
                    grid-template-columns: 1fr 1fr;
                }
                @media (max-width:479px) {
                    grid-template-columns: 1fr;
                }
                .listitem{
                    .c-cardd{
                        color: #fff;
                        flex-direction: column;
                        margin-bottom: 10px;
                        padding: 110% 32px 32px;
                        display: flex;
                        position: relative;
                        a{
                            cursor: pointer;
                        }
                        h4{
                            font-size: 18.5px;
                        }
                        .w-inline-blockk{
                            max-width: 100%;
                            display: inline-block;
                            img{
                                height: auto;
                                position: static;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 8px;
                            }
                        }
                        .w-inline-block{
                            width: 60px;
                            color: #0f172a;
                            background-color: transparent;
                            justify-content: flex-start;
                            margin-top: auto;
                            margin-bottom: 0;
                            padding: 0;
                            min-width: 140px;
                            min-height: 48px;
                            letter-spacing: -.02em;
                            cursor: pointer;
                            border-radius: 50px;
                            align-items: center;
                            font-size: 14px;
                            line-height: 14.4px;
                            display: flex;
                            text-decoration: none;
                            max-width: 100%;
                            img{
                                width: 13px;
                                margin-left: 7px;
                                transition: transform .4s ease-in-out;
                            }
                            &:hover{
                                img{
                                    transform: translateX(5px);
                                }
                            }
                            .c-card__img .cc-small{
                                height: auto;
                                position: static;
                                object-fit: cover;
                                position: static;
                                vertical-align: middle;
                                border: 0;

                            }
                        }
                        .c-card__info{
                            padding-top: 16px;
                            color: #0f172a;
                            a{
                                color: #ff2868;
                                padding-top: 16px;
                                padding-bottom: 6px;
                                font-size: 14px;
                                line-height: 16px;
                                text-decoration: none;
                            }
                            .blue-title{
                                color: hsla(203.76470588235293, 100.00%, 50.00%, 1.00);
                            }
                            .green{
                                color: hsla(163.26530612244898, 58.10%, 49.61%, 1.00);
                            }
                            .c-card__reading-time{
                                display: inline;
                                .c-card__info-separator{
                                    background-color: #ff2868;
                                    width: 3px;
                                    height: 2px;
                                    margin-left: 7px;
                                    margin-right: 7px;
                                    display: inline-block;
                                    position: relative;
                                    top: -3px;
                                }
                                .blue{
                                    background-color: hsla(203.76470588235293, 100.00%, 50.00%, 1.00);
                                }
                                .c-card__info-txt{
                                    display: inline;
                                }
                                .c-card__info-txt{
                                    margin-left: 3px;
                                    display: inline;
                                }
                            }
                        }
                    }
                    .c-cardd.cc-tips {
                        height: 100%;
                        min-height: 302px;
                        justify-content: flex-start;
                        padding-top: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
        .flex-wrapper{
            justify-content: center;
            align-items: center;
            flex-flow: row;
            display: flex;
            a{
                min-width: 140px;
                padding: 0 20px;
                img{
                    margin-left: 5px;
                    transition: all .4s ease-in-out;
                }
                &:hover{
                    img{
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}